<ul class="list-inline text-center">
  <% data.team.each do |member, infos| %>
    <li>
      <%= image_tag "#{infos.image}", class: "avatar-large" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
